name: Linter and Tests

on:
  push:
    branches:
      - master
      - 'release/**'
  pull_request:

defaults:
  run:
    shell: bash

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - name: Lint Terraform files
        working-directory: ./terraform
        run: terraform fmt -check

  test:
    name: Test
    needs: lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 10.x
          - 12.x
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm install

      - name: Build Docker Image
        run: ./build_docker_image.sh

      - name: Pull worker images
        run: ./pull_worker_images.sh

      - name: Run Test
        run: npm run test

      - name: Test as Docker
        run: ./test_as_docker.sh
